{% extends 'base.html.twig' %}

{% block body %}
    <table>
	<thead>
	    <tr>
		<th>id</th>
		<th>request</th>
		<th>reponse</th>
		<th>time</th>
	    </tr>
	</thead>
	<tbody>
	    {% for c in tran_list %}
		<tr>
		    <td>{{ c.id }}</td>
		    <td>{{ _self.doc(c.req_cont, c.req_heads, c.req_body) }}</td>
		    <td>{{ _self.doc(c.res_cont, c.res_heads, c.res_body) }}</td>
		    <td>{{ c.time.format('Y-m-d H:i:s') }}</td>
		</tr>
	    {% endfor %}
	</tbody>
    </table>
{% endblock %}

{% macro doc(cont, heads, body) %}
    {% if cont %}
	<div>{{ cont.f1 }} {{ cont.f2 }} {{ cont.f3 }}</div>
	<div>
	    <script>
	     function toggle(elem) {
		 if (elem.style.display === "none") {
		     elem.style.display = "block";
		 } else {
		     elem.style.display = "none";
		 }
	     }
	    </script>
	    <div onclick="toggle(this.nextSibling.nextSibling);">headers</div>
	    <div style="display: none;">
		<ul>
		    {% for head in heads %}
			<li>{{ head.name }}: {{ head.value }}</li>
		    {% endfor %}
		</ul>
	    </div>
	    <div onclick="toggle(this.nextSibling.nextSibling);">body</div>
	    <div style="display: none;">
		<textarea>{{ body ? body.content : "" }}</textarea>
	    </div>
	</div>
    {% endif %}
{% endmacro %}
