{% extends 'base.html.twig' %}

{% block body %}
    <table>
	<thead>
	    <tr>
		<th>id</th>
		<th>request</th>
		<th>reponse</th>
	    </tr>
	</thead>
	<tbody>
	    {% for id, c in tran_list %}
		<tr>
		    <td>{{ id }}</td>
		    <td>{{ c.req_cont.f1 }} {{ c.req_cont.f2 }} {{ c.req_cont.f3 }}</td>
		    <td>{{ c.res_cont.f1 }} {{ c.res_cont.f2 }} {{ c.res_cont.f3 }}</td>
		</tr>
	    {% endfor %}
	</tbody>
    </table>
{% endblock %}
